body {
    background: url("../img/azul.jpg");
    background-attachment: fixed;
  }
  #logo {
    background: #15178b;
  }
  #menu ul li:hover {
    background: #15178b;
  }
  .button-more {
    background: #15178b;
  }