* {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  .clearfix {
    float: none;
    clear: both;
  }
  body {
    background: url("../img/fondo.jpg");
    background-attachment: fixed;
  }
  #global {
    width: 65%;
    margin: 0px auto;
    padding: 30px;
    background: white;
    box-shadow: 0px 0px 0px 1px gray;
  }
  #logo {
    font-family: Verdana, Arial;
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 80px;
    background: #15178b;
    color: white;
    text-align: center;
    width: 450px;
    height: 80px;
    margin-bottom: 20px;
    float: left;
    text-transform: uppercase;
  }
  #menu {
    font-family: Helvetica, Arial;
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    color:aliceblue;
  }
  #menu ul {
    display: flex;
    line-height: 46px;
    list-style: none;
  }
  #menu ul li {
    height: 48px;
    display: inline-block;
    transition: all 300ms;
  }
  #menu ul li:hover {
    background: #15178b;
  }
  #menu ul li a {
    margin-left: 1rem;
    margin-right: 1rem;
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 35px;
  }
  #posts {
    width: 60%;
    float: left;
    font-family: Helvetica, Arial;
  }
  .post {
    padding: 5px;
  }
  .post .date {
    display: block;
    color: gray;
    margin-top: 10px;
  }
  .post h2 {
    margin-top: 20px;
    font-size: 30px;
    color: #333;
  }
  .post .date {
    display: block;
    color: gray;
    margin-top: 10;
  }
  .post p {
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 20px;
  }
  .button-more {
    font-size: 15px;
    text-align: center;
    padding: 15px;
    background: #15178b;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 70px;
  }
  #sidebar {
    font-family: Helvetica, Arial;
    width: 30%;
    float: right;
  }
  #sidebar h4 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #333;
  }
  #sidebar img {
    width: 100%;
  }
  #sidebar p {
    text-align: justify;
  }

  .bx.wrapper,
  .bx-viewport{
    height: 250px !important;
  }

  form input[type="text"],
  form input[type="email"],
  form input[type="password"]{
    padding: 5px;
    border-radius: 2px;
    border:3px solid #ccc;
    width:100%;
    margin-bottom: 10px;
   /*box-shadow: 0px 0px 0px 2px gray;*/
    margin-top: 5px;
  }

  form input[type="submit"]{
    background: #eee;
    padding: 5px;
    border:2px solid #333;
    cursor: pointer;
  }

  footer {
    font-family:Helvetica,Arial;
    color: aliceblue;
    height: 47px;
    background: rgba(51, 51,51, 0.1);
    margin: 0px auto;
    width: 65%;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0px;
    line-height: 45px;
    text-align: center;
  }
#theme-selector{
  position: fixed;
  top: 50px;
  background: rgba(51,51,51,0.7);
  width: 50px;
  height: 100px;
}
#to-green,
#to-red,
#to-blue{
  width: 25px;
  height: 25px;
  border: 1px solid white;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
#to-red{
  background: #ca3413;
}
#to-green{
  background: #235e3d;
}
#to-blue{
  background: #15178b;
}